{% for i in journeys_with_sale %}
{% load i18n %}
    {% if i.sale_price %}

    <div class="container mt-3" style="border: 1px solid #00612f; border-radius: 10px;">
        <div class="container text-right mt-2">
            <a href="{% url 'create_order' i.id %}"><button type="button" class="btn btn-success">{% trans "Замовити" %}</button></a>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src="{{ i.photos.first.image.url }}">
            </div>
            <div class="col-sm-5">
                <p class="mb-0">#{{ i.sku }}</p>
                <h5 class="mt-1"><strong><a href="{% url 'journey_details' i.id %}" class="text-success"> {{ i.title }}</a></strong></h5>
                <h6><strong>{% trans "Тривалість:" %}</strong></h6><h6 class="font-italic">
                            {% if i.durations_days == 1 %}
                                {{ i.durations_days}} {% trans "день" %}
                            {% elif i.durations_days < 5 and i.durations_night == 1  %}
                                {{ i.durations_days}} {% trans "дні" %} / {{i.durations_night }} {% trans "ніч" %}
                            {% elif i.durations_night < 5 and i.durations_night > 1 and i.durations_days < 5 %}
                                {{ i.durations_days}} {% trans "дні" %} / {{i.durations_night }} {% trans "ночі" %}
                            {% elif i.durations_night > 4 or i.durations_days > 4 %}
                                {{ i.durations_days}} {% trans "днів" %} / {{i.durations_night }} {% trans "ночей" %}
                            {% endif %}</h6>

            </div>
            <div class="col-sm-3">
                <div class="text-right mt-5 mr-3">
                        {% if i.sale_price %}
                            <h4 class="text-danger pr-2"><strike>{{ i.price }}</strike></h4><h4 class="text-danger">{{ i.sale_price }} {% trans "грн" %}</h4>
                        {% else %}
                            <h4 class="text-danger">{{ i.price }} {% trans "грн" %}</h4></td>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="container mb-2">
            <div class="text-right"><a class="text-danger" href="{% url 'journey_details' i.id %}">{% trans "Дізнатись більше" %}>>></a></div>
        </div>
    </div>

    {% endif %}
{% endfor %}
