{% extends "base.html" %}
{% load i18n %}

{% block content %}
        <!-- START block with categories -->
    <div class="container mt-1">
        {%  include 'header_with_categories.html' %}
    </div>
    <!-- END block with categories -->

<!-- START button with order -->
    <div class="container mt-2">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-sm-6">
                <a href="{% url 'order_anonim' %}" style="text-decoration: none;"><button class="btn btn-success btn-block"><strong>{% trans "Створити власну пригоду" %}!</strong></button></a>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
<!-- END button with order -->

    <div class="text-center mt-5">
        <h3 style="color: #33691e"><strong>{% trans "Найновіші пропозиції" %}:</strong></h3>
    </div>

<!-- START container with items. -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-sm-10">
                {% include 'product/Journey_card.html' %}
            </div>
            <div class="col-1"></div>
        </div>
    </div>
<!-- End container -->

{% endblock %}
