{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container mt-1">
        {%  include 'header_with_categories.html' %}
    </div>

    <div class="col-md-8 mt-5" style="margin-left: 200px">
        <div style="position: center; border-style: dotted; border-color: #33691e; padding-bottom: 20px; padding-right: 20px; padding-left: 20px">

            <p style="color: #33691e; margin-top: 15px; font-size:18px">{% trans "Дякуємо, що обрали!" %} <br> {% trans "Для підтвердження замовлення та узгодження всіх деталей наш менеджер" %} <br>
            {% trans "зв'яжеться з Вами найблищим часом!" %} <br> {% trans "Бажаємо захоплюючої пригоди!" %} </p>

            <a href="/"><button class ="btn btn-outline-success btn-block" style="color: #33691e"> {% trans "Повернутися на головну" %}</button></a>

        </div>
    </div>

{% endblock %}
