{% extends "base.html" %}

{% block content %}

    <div class="container mt-1">
        {%  include 'header_with_categories.html' %}
    </div>

    <div class="col-md-8 mt-5" style="margin-left: 200px">
        <div style="position: center; border-style: dotted; border-color: #33691e; padding-bottom: 20px; padding-right: 20px; padding-left: 20px">

            <p style="color: #33691e; margin-top: 15px; font-size:18px">Дякуємо, що обрали! <br> Для підтвердження замовлення та узгодження всіх деталей наш менеджер <br>
            зв'яжеться з Вами найблищим часом! <br> Бажаємо захоплюючої пригоди! </p>

            <a href="/"><button class ="btn btn-outline-success btn-block" style="color: #33691e">Повернутися на головну</button></a>

        </div>
    </div>

{% endblock %}
