{% load i18n %}

<div style="padding-bottom: 10px; padding-right: 20px; padding-left: 20px">

    <div style="border-bottom: 1px; border-color: #33691e">
        <h1 style="color: #00612f"><strong>{% trans "Підтвердження замовлення" %}</strong></h1>
        <h4>{% trans "Доброго дня," %} </h4>
        <h4>{% trans "Дякуємо, що обрали! Для узгодження всіх деталей наш менеджер зв'яжеться з Вами найближчим часом." %}</h4>
        <h4>{% trans "Бажаємо хорошого дня та чудової пригоди!" %}</h4>
    </div>
    <div>
        <p style="color: #6f6f6f">{% trans "Якщо ви отримали повідомлення помилково, то не потрібно відповідати на нього." %}</p>
        <p style="color: #6f6f6f">{% trans "Зверніть увагу: це електронне повідомлення було відправлено з адреси, яка не може приймати вхідні електронні листи." %}</p>
            <p></p>{% trans "Будь-ласка, якщо вам потрібно знову зв'язатися з нами, скористайтеся електоронною поштою" %} <strong>office@laik-travel.com</strong></p>
        <a href="http://52.29.28.77/"><img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/38033408_1028983860608803_1033849635178807296_n.jpg?_nc_cat=110&_nc_ht=scontent-waw1-1.xx&oh=a7e7b995bdbc6a0ced4e755964c6b824&oe=5C7CC33E"
                                           height="250" width="300"></a>
    </div>
</div>
