{% extends "base.html" %}

{% block content %}

    <div class="container mt-1 mb-4">
        {%  include 'header_with_categories.html' %}
    </div>

    <h3 style="margin-bottom: 20px"><strong>Замовлення пригоди:</strong></h3>

    <table class="table table-bordered" style="border-color: #33691e;">

      <thead>
        <tr>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Назва пригоди</th>
          <th scope="col" class="text-center">Ціна:</th>
          <th scope="col" class="text-center">Кількість осіб</th>
          <th scope="col" class="text-center">Ціна всього:</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row" class="text-center">{{ journey.sku }}</th>
          <td class="text-center">{{ journey.title }}</td>
          <td class="text-center">{% if journey.sale_price %}{{ journey.sale_price }}{% else %}{{ journey.price }}{% endif %}</td>
            <td class="text-center">

                <form method="POST" action="{% url 'update_persons' journey.id %}">{% csrf_token %}

                    <input class="text-center" type="text" value="{{ cached_persons }}" size="3" name="update_persons"/>
                    <button class="btn btn-info" style="font-size: 10px; margin-bottom: 2px; color: white" type="submit">Порахувати</button>

                </form>

            </td>
          <td class="text-center">{{ full_price }}</td>
        </tr>
      </tbody>

    </table>

    <div class="row">
        <div class="col-md-6" style="margin-top: 40px"><h3>Для підтвердження замовлення введіть актуальний номер мобільного телефону</h3></div>
        <div class="col-md-6">

    <form method="POST" style="margin-top: 35px"> {% csrf_token %}

            <div class="text-center">
                <input class="text-center" type="text" name="contact_phone" required placeholder="+380952509586"
                       size="35"
                       style="margin-top: 30px;">
            </div>

            <div class="text-right" style="margin-top: 60px">
                <button class="btn btn-success" type="submit" data-target="#create">Замовити</button>
                <a href="/"><button type="button" class="btn btn-danger" data-dismiss="modal">Відмінити</button></a>
            </div>
    </form>

        </div>
    </div>


{% endblock %}
