{% extends 'base.html' %}
{% load bootstrap %}


{% block content %}
    <!-- START block with categories -->
    <div class="container mt-1">
        {%  include 'header_with_categories.html' %}
    </div>
    <!-- END block with categories -->
    <div class="container mt-5">
        <form method="POST" class="form-group " id="order">{% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5 text-right pl-5 mt-1">
                        <label class="control-label" for="id_name"><h4 style="color: #33691e"><strong>Прізвище та ім'я:</strong></h4></label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="name" maxlength="255" class="form-control form-control" required="" id="id_name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5 text-right pl-5 mt-1">
                        <label class="control-label" for="id_person"><h4 style="color: #33691e"><strong>Кількість осіб:</strong></h4></label>
                    </div>
                    <div class="col-sm-7">
                        <div>
                            <input type="number" name="person" class=" form-control" required="" id="id_person" style="max-width: 25%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5 text-right pl-5 mt-1">
                        <label class="control-label  " for="id_duration"><h4 style="color: #33691e"><strong>Кількість днів:</strong></h4></label>
                    </div>
                    <div class="col-sm-7">
                        <div>
                            <input type="number" name="duration" class=" form-control" required="" id="id_duration" style="max-width: 25%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5 text-right pl-5 mt-1">
                        <label class="control-label  " for="id_description"><h4 style="color: #33691e"><strong>Що Вас цікавить?</strong></h4></label>
                    </div>
                    <div class="col-sm-7">
                        <div>
                            <textarea name="description" cols="40" rows="6" class="form-control form-control" required=""
                                      id="id_description" placeholder="Озеро Синевир, Паланок, закарпатський банош..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5 text-right pl-5 mt-1">
                        <label class="control-label  " for="id_phone"><h4 style="color: #33691e"><strong>Номер телефону</strong></h4></label>
                    </div>
                    <div class="col-sm-7">
                        <div>
                            <input type="text" name="phone" class="form-control form-control" required="" id="id_phone">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5 text-right pl-5 mt-1">
                        <label class="control-label  " for="id_email"><h4 style="color: #33691e"><strong>Email-адреса</strong></h4></label>
                    </div>
                    <div class="col-sm-7">
                        <div>
                            <input type="text" name="email" class="form-control form-control" required="" id="id_email">
                        </div>
                    </div>
                </div>
            </div>

            {% if not user.is_authenticated %}
            <div class="container text-center m-4 text-success">
                <h5>Чи хотіли б Ви отримувати більше пропозицій щодо найкращих пригод?
                    <a href="{% url 'account_login' %}" class="text-success">Зареєструватись...</a>
                </h5>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <a href="{% url 'home' %}" style="text-decoration: none"><button class="btn btn-outline-danger btn-block">Відмінити</button></a>
                </div>
                <div class="col-sm-3">
                    <button type="submit" form="order" class="btn btn-outline-success btn-block">Замовити</button>
                </div>
                <div class="col-sm-3"></div>
            </div>

        </form>
    </div>

{% endblock %}
