{% extends "base.html" %}


{% block content %}

        <!-- START block with categories -->
    <div class="container mt-1">
        {%  include 'header_with_categories.html' %}
    </div>
    <!-- END block with categories -->

    <div class="container mt-5" style="color: #33691e">
        <img src="http://static.panoramio.com/photos/original/57957691.jpg" class="img-fluid">
        <h3 class="text-center font-italic mt-3">Вітаємо, шукачу пригод!</h3>
        <p class="text-justify font-italic mt-3"><strong>Закарпаття</strong> - унікальний куточок України. Водночас тут можна побачити
        холодні вершини Карпат та відчути тепло Закарпатської долини, здійснити подорож гірською полониною та відпочити
        у гарячих термальних басейнах. Це мультикультурний край, що представлений сотнею різних національностей та етносів,
        побачити архітектурні стилі з усієї Європи та світу. До сьогодні тут збережений унікальний діалект української мови
        складений зі слів кожного народу, хто колись проживав чи проживає на Закарпатті, та що змінюється від села до села,
        від регіону до регіону. Тільки тут можна скуштувати безліч різномінітних страв української, угорської, румунської, чеської,
        німецькою та десятків ніших кухонь, спробувати світових сортів вина. Саме такою є земля, наближена до неба!</p>
        <h5 class="mt-3 font-weight-bold">Оператор пригод LAiK запрошує до Закарпаття, та організує тільки хороші пригоди по Сріберній Землі!</h5>

    </div>
    <div class="container mt-5" style="color: #33691e">
        <h5 class="font-weight-bold">У нашій роботі ми опираємось на 3 основні цінності:</h5>
        <div class="row mt-5">
            <div class="col-sm-4 text-center">
                <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/37092144_274494866641079_586984272582148096_n.png?_nc_cat=0&oh=edaf4eb24d4c40e41094dc55076c957d&oe=5BD02B72" class="img-fluid">
                <h5 class="font-weight-bold mt-3">Прагнення до найкращого</h5>
                <p>Ми завжди продумовуємо все до останньої дрібниці, роблячи пригоду цікавою, захопливою та
                такою, що запам'ятається!</p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/36954217_274494869974412_2954372234707206144_n.png?_nc_cat=0&oh=d1436929609a6aa9522c4a6b333331c2&oe=5BA492D1" class="img-fluid">
                <h5 class="font-weight-bold mt-3">Професіоналізм у дрібницях</h5>
                <p class="text-center">Під час пригоди з Вами працюють тільки професіонали своєї справи.</p>
            </div>
            <div class="col-sm-4 text-center">
                <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/37048503_274494849974414_8779606777357402112_n.png?_nc_cat=0&oh=355fedce3d3b411c38c1f8fd107110e6&oe=5BD779A6" class="img-fluid">
                <h5 class="font-weight-bold mt-3">Цінування партнерства</h5>
                <p class="text-center">Цінування та повага до наших партнерів для отримання лише відмінного
                сервісу під час пригоди.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5" style="color: #33691e">
        <h5 class="font-weight-bold mt-3">Для зручності, наші пригоди поділена на категорії:</h5>
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'category_detail' category.slug %}" class="text-success">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <h5 class="font-weight-bold mt-4">Якщо ж Ви хочете пригоду, не запропоновану нами, ми готові запропонувати Вам
            скласти <a href="#" class="text-success">свою пригоду на Закарпатті.</a></h5>
    </div>
    <div class="container mt-5" style="color: #33691e">
        <h4 class="mt-3">Віримо, що пригоди на Закарпатті Вам обов'язково сподобаються. Більше про нашу роботу Ви щможете прочитати
        на <a href="{% url "feedback"  %}">сторінці відгуків</a>, або ж на стрінках у соціальних мережах.</h4>

    </div>

{% endblock %}
