{% extends "base.html" %}
{% load i18n %}

 {% block title %}{% trans "Офіційні документи"%}{% endblock title %}

{% block content %}

            <!-- START block with categories -->
    <div class="container mt-1">
        {%  include 'header_with_categories.html' %}
    </div>
    <!-- END block with categories -->

    <h2 class="text-center mt-3" style="color: #00612f"><strong>{% trans "Офіційні документи"%}</strong></h2>

        <table class="table table-bordered mt-5" style="border-color: #00612f;">

            <thead>
                {% for d in documents %}

                    <tr>
                        <th scope="col" class="text-center" style="width: 50%; padding-bottom: 15px">{{ d.title_ukr }}</th>
                        <th scope="col" class="text-center">
                            <a href="{{ d.document.path }}"><button type="button" class="btn btn-success btn-sm">{% trans "Завантажити" %}</button></a>
                        </th>
                    </tr>

                {% endfor %}
            </thead>

        </table>

{% endblock %}
